#dude {
  width: 27%;
  float: left;
  margin: 2%;
  padding: 1px;
  border: 4px solid #F1EEE8
}
h2 {
  text-align: center;
  font-family: Georgia, Times, serif;
  font-size: 25px;
  color: #211710;
}
body {
  background-color: #B8A591;
}
h1 {
  font-family: 'Alegreya', serif;
  text-align: center;
  border: 4px solid #F1EEE8
}
legend {
  background-color:
  border-style: solid;
  border-width: 10px;
}
table, td, th, tr {
    border: 2px solid black;
    background-color: #F1EEE8;

}
table {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}
li {
    text-align: center;
    display: inline;
    float:left;
}
a {
    display: block;
    width: 60px;
    background-color: #F1EEE8
    text-align:center;
    width:150px; /* fixed width */
    text-decoration:none;
}
#menu {
  width: 60%;
  margin-right: 20%;
  margin-left: 20%
}


















